@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

nav {
  position: absolute !important;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgb(6, 102, 53);
  width: 80px;
  z-index: 4 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: hidden !important;
  transition: width 0.001s linear;
}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

nav a {
  position: relative;
  color: #fff;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 5px;
}

.bx {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

nav a:hover {
  background: rgb(7, 130, 66);
}

nav:hover {
  width: 250px;
  transition: all 0.2s ease;
}

.submenu {
  display: none;
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  text-align: left;
  transition: display 0.2s ease-in-out;
  max-height: 150px;
  overflow-y: auto;
}

.submenu.visible {
  display: block;
}

/* MAP */
#map {
  position: absolute;
  margin: 0 !important;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
  top: 0;
  bottom: 0 !important;
  background-color: rgb(250, 250, 250);
  margin-bottom: 0;
  animation: slideout 0.5s forwards;
}

@keyframes slideout {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/** Search Bar & Header **/
.container {
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  z-index: 2;
  animation: slideout 2s forwards;
}

#ulo {
  padding: 0;
  position: relative;
  top: 0;
  margin-bottom: 10px;
  font-size: 180%;
  font-weight: bolder;
  color: white;
  text-shadow: gold 5px 2px 3px;
  font-family: 'Archivo Black', sans-serif;
}

#logo {
  padding-right: 5px;
  top: 5px;
  height: auto;
  width: 2rem;
  position: relative;
}

#sg {
  opacity: 0.7;
}

#cator {
  font-size: 75%;
  color: black;
  text-shadow: white 3px 3px 3px;
  font-family: 'Archivo Black', sans-serif;
}

.sidebar-container {
  height: 100%;
  overflow-y: auto;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative !important;
}

#output {
  height: 20px;
  width: auto;
  max-width: 25px;
  margin: 0px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  max-width: 300px;
  min-width: 150px;
  font-weight: 550;
}

#srchbtn {
  position: absolute !important;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  background-color: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
  height: 1.3rem;
}
#locatic {
  position: absolute !important;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  background-color: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
  height: 1.3rem;
}

#srchbtn:hover {
  color: rgb(4, 255, 4);
}

#locatic:hover {
   color: rgb(255, 4, 4);
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }

  .container {
    max-width: 1200px;
    font-size: 1.2em;
  }

  #logo {
    width: 2.5rem;
    height: auto;
  }

  #output {
    max-width: 400px;
    font-size: 1em;
    padding-right: 50px;
    width: 100%;
    padding: 15px
  }
}

.custom-marker-label {
  font-size: 9px;
  font-family: 'Arial black';
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  color: #5c2b00;
  text-shadow: #ffffff 1px 1px 1px;
  z-index: 1000;
}

.custom-marker-label2 {
  font-size: 9px;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  text-shadow: #ffffff 1px 1px 1px;
  white-space: nowrap;
  color: #5c2b00;
  z-index: 1000;
}
.label1{
  text-shadow: #ffffff 1px 1px 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 9px;
  font-weight: bolder;
  text-align: center;
  color: #5c2b00;
  z-index: 1000;
  font-family: 'Arial Black';
}
.complex{
  text-shadow: #ffffff 1px 1px 1px;
  font-size: 9px;
  white-space: nowrap;
  font-weight: bolder;
  text-align: center;
  color: #5c2b00;
  font-family: 'Arial Black';
}

#myModal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white (0,0,0);
  background-color: white (0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color:rgb(6, 102, 53);
  border-radius: 6px;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid white;
  width: 400px;
  text-align: center;
  color: #ffffff;
}
.modal-btn {
  margin-top: 10px;
  width: 10%;
  padding: 10px 0;
  background: rgb(6, 102, 53) ;
  color: white ;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;

}

#opis{
  position: relative;
}

#bilding{
  position: relative;
}


.ruum:hover{
  background-color: beige;
}

.buttones {
  position: relative;
  z-index: 3;
  margin: 0 auto; 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  flex-wrap: inherit;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;

}

.buttones button{
  border: none;
  margin-right: 10px;
  background : white;
  width: 8rem;
  font-size: 40%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border-radius: 2em;
  padding: 0em 1em;
  margin-bottom: 10px;
  width: 20%;
  padding:0px;
  font-size: 13px;
  margin-right: 30px;
  min-width: 70px;
  width: 20%;
  padding:0px;
  font-size: 13px;
  }

@media (max-width: 784px) {
   body{
    height: 100%;
    width: 100%;
   }
  

.buttones::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 784px) {
  .buttones {
    flex-wrap: nowrap; 
    overflow-x: auto; 
    justify-content: flex-start; 
  }
  
  .ruum {
    flex: 0 0 auto; 
    white-space: nowrap;
    width: 10px !important;
  }
}
}

@media (max-width: 784px) {
   body{
    height: 100%;
    width: 100%;
   }
  
  .buttones{
    margin-top: 10px;
    flex-wrap: inherit;
    /* max-width: 320px !important; */
    align-items: center;
    justify-content: center;
  }
  
  .buttones button{
    margin-bottom: 10px;
    width: 20%;
    margin-right: 20px;
    padding:0px;
    font-size: 13px;
  }
  
  .output{
    height: 25px;
  }
}

@media (max-width: 1130px) {
 .buttones button{
   margin-bottom: 10px;
   width: 40%;
   margin-right: 20px;
   padding:0px;
   font-size: 13px;
 }
}

 @media (max-width: 1011) {
 .buttones button{
   margin-bottom: 10px;
   width: 30px;
   margin-right: 20px;
   padding:0px;
   font-size: 20px;
 }
}

.leaflet-top .leaflet-control {
  top: 300px  !important;
}

.tae{
  height: 25rem;
  width: 21rem;
}

@media (min-width: 500px) {
  .tae{
    height: 40rem;
    width: 30rem ;
  }  
}

.hamburger {
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(6, 102, 53);
  opacity: 90%;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  position: sticky;
  top: 10px;
  left: 10px;
  margin-right: 12px;
  z-index: 5;
  position: absolute;
  animation: slideout 1s forwards;
}
@keyframes slideout {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width:660px){
  .hamburger{
    z-index: -5;
  }
}

@media (max-width:660px){
  nav{
    width: 0%;
  }
} 

@media (min-width:720px) {
  .tae{
    height: 30rem;
    width: 20rem;
  }
}

@media (max-width:720px) {
  .tae{
    height: 25rem;
    width: 20rem;
  }
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
